// 引入重置库
@import "normalize";
// 引入自定义混合
@import "../mixins/mixins";
@import "../mixins/mui-mixins";
// 基准字体自适应配置
@import "../mixins/vertical";

// 使用 rem 作为单位后, 在不同设备间都会有相对统一的显示比例
// 从而达到自动适应的效果
.box {
    @include rem(width, 100px);
    @include rem(height, 100px);
    background-color: #000;
    color: #fff;
}
// 单行文本溢出
.inline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 单行文本溢出 use mixin
.inline-mixin {
    @include text-overflow();
}

// 多行文本溢出
.intwoline {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

// 多行文本溢出 use mixin
.intwoline-mixin {
    @include text-overflow(2);
}

// 前缀 mixin
.boxshow-mixin {
    @include prefix((box-shadow:0 0 0 transparent),webkit);
}

// flex mixin from mui-mixins
.flex-mixin {
    @include flexbox();
    @include flex-around();
}
