// @rem 屏幕适配
// @author chencong
// ---------------------------------------------
// Vertical screen

// 基准设备宽度 默认 iPhone 6 的设备宽度
$baseWidth: 375px;
// 基准字体大小
$baseFont: 20px;

html {
  font-size: $baseFont;
  outline: 0;
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
  -moz-text-size-adjust: 100%; // 2
  -o-text-size-adjust: 100%; // 2
}

// 针对不同设备宽度进行自适应, 让其具有统一的样式展现
// 简单理解: 在这些设备中都和 iPhone 6 看到的字体比例一致
$bps: 320px, 335px, 345px, 360px, 375px, 400px, 414px, 430px, 454px, 460px, 480px, 500px, 520px, 540px, 560px, 580px, 600px, 620px, 640px, 680px, 700px, 720px, 735px, 750px, 780px,800px, 840px, 900px, 960px;

// 针对上述设备设置媒体查询 eg: 自动计算比例 20/375 = x/360 求 x=?
@each $i in $bps {
	$font: $i  /  $baseWidth  *  $baseFont;
	@media only screen and (min-width: $i){
	    html {
	      font-size: $font !important;
	    }
	  }
}

// 统一不同屏幕宽度的展示效果 都和iPhone 6 内 看到的20px 比例一致
html {
    font-size: calc(2 * 100vw / 37.5) !important;
}
